/* Layout
  =============== */
  
  	a:hover {
	
		text-decoration: none;
	}
	
	.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
	   
	    padding-right: 30px;
	    padding-left: 30px
	}
	
	.row {
	    
	    margin-right: -30px;
	    margin-left: -30px;
	}
	
  	.nt-section--header {
	  	
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		align-items: center;
	  		  
  		h1 {
		  
  			font-size: $h4;
  			color: $accent-color;
  			display: inline;
		} 
		
		a {
			
		} 
		
		hr {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			margin: 0;
			border-top: 1px solid $accent-color;
			border-bottom: none;
		}
  	}
  
  	.nt-section--body {
	  		  
  		.nt-article {
		  
			h1 {
			  
				font-family: $article-heading-font-family;
				font-weight: $article-heading-font-weight;
				font-size: $h3;
			}
		  
			.nt-article--footer {
				
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-direction: row;
			    flex-direction: row;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    -ms-flex-align: center;
			    align-items: center;
			    -ms-flex-wrap: wrap;
			    flex-wrap: wrap;
				  
				a {
					  
					color: $alternate-color;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					max-width: 10em;
					
					&:hover {
						
						color: $article-link-hover-color;
					}
				}
				  
			}
		  
			.nt-article--date {
				  
				display: inline;
				font-size: $font-size-small;
				margin-left: 15px;
			}
		}
		
		.nt-article-sm {
			
			h1 {
			  
				font-size: $h5;
			}
		}
		
		.nt-article-md {
			
			h1 {
			  
				font-size: $h4;
			}
		}
		
  	}
  	
  	.sidebar-sticky {
			
		position: sticky;
		top:0;
	}
  	